body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-dark {
  background-color: #343a40!important;
}
.navbar-expand-sm {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-expand-sm .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}
.blink {
  animation: blinker 0.6s linear infinite;
  color:red;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink-one {
  animation: blinker-one 1s linear infinite;
}

.format{
  margin-right: auto; 
  margin-left: auto; 
  width: 1200px;
}
.employee-text{
  padding-top: 1%;
}